@import "tailwindcss";

:root {
  color-scheme: light;
  --background: var(--color-white);
  --foreground: var(--color-neutral-950);
}

html.dark {
  color-scheme: dark;
  --background: var(--color-neutral-950);
  --foreground: var(--color-white);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 1s ease,
    color 1s ease;
}

@custom-variant dark (&:where(.dark, .dark *));

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes planetShow {
  0% {
    opacity: 0;
    transform: translate(calc(100vw + 100px));
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes planetHide {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  50% {
    opacity: 0.5;
    transform: translate(calc(calc(50vw + 50px) * -1), calc(30px * -1));
  }

  100% {
    opacity: 0;
    transform: translate(calc(calc(100vw + 100px) * -1), 0);
  }
}
