@import "tailwindcss";

:root {
  --background: var(--color-white);
  --foreground: var(--color-neutral-950);
}

html.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-white);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));